
*.vsidx
*.vsidx
*.vsidx
*.vsidx
.vs/SW_II_AD/FileContentIndex/dbf9d0fd-0fc1-41be-94ff-12c485d6c327.vsidx
.vs/SW_II_AD/FileContentIndex/d264d26a-2bd5-4393-b0eb-9c4d7479eb2e.vsidx
.vs/SW_II_AD/FileContentIndex/8202dab1-a555-4709-8b0a-5f4d2e477045.vsidx
.vs/SW_II_AD/FileContentIndex/23c46330-fac4-4d39-9a46-a9a57546f62c.vsidx
